.picker {
    background-color: #84A86A;
    color: #ffffff;
    border-radius: 5;
    height: 50;
    align-content: center;
    font-size: 30%;
}

.textField {
    color: #ffffff;
    border-radius: 5;
    width: 300;
    height: 50;
    keyboard-type: phone;
    text-align: center;
    font-size: 15%;
    font-family: "Montserrat", "Montserrat-Regular";
}

.enterText {
    align-self: flex-start;
    justify-content: flex-start;
    color: #ffffff;
    text: Ingresa tu numero de telefono:;
    font-size: 20%;
    font-family: "Montserrat", "Montserrat-Regular";
}


.enter-text-label {
    margin-bottom: 10%;
}

.info-stack {
    margin-top: 10%;
    margin-bottom: 2%;
}
