.store-list {
    flex-direction: column;
    background-color: white;
}

.address-bar {
    background-color: white;
    height: 70;
    margin-bottom: 10;
}

.address-button {
    col: 0;
    row: 0;
    width: 120;
    border-radius: 10;
    background-color: #f1f1f1;
    border-color: #eaeaea;
    border-left-width: 3.5;
    border-bottom-width: 3.5;
}

.address-icon {
    width: 30;
    col: 0;
    row: 0;
    tint-color: #EBA40F;
}

.address-text {
    col: 1;
    vertical-align: center;
    font-family: "Montserrat", "Montserrat-Regular";
    hint: Ingresa tu direccion;
    row: 0;
    font-size: 15;
    color: #000000;
}


