.store-list {
    flex-direction: column;
    background-color: white;
}

.address-bar {
    height: 70;
    margin: 10;
}

.address-icon {
    col: 0;
    row: 0;
    tint-color: #EBA40F;
}

.address-text {
    col: 1;
    vertical-align: center;
    font-family: "Montserrat", "Montserrat-Regular";
    hint: Ingresa tu direccion;
    row: 0;
    font-size: 15;
    color: #000000;
}


