.store-list {
    flex-direction: column;
    background-color: white;
}

.address-bar {
    background-color: #8E8A88;
    borderRadius: 10;
    height: 80;
    margin: 10;
    border-radius: 10;
    border-color: #EBA40F;
    border-width: 5;
}

.address-icon {
    col: 0;
    row: 0;
    tint-color: #EBA40F;
}

.address-text {
    col: 1;
    font-family: "Montserrat", "Montserrat-Regular";
    hint: Ingresa tu direccion;
    row: 0;
    font-size: 15;
    color: white;
}


