.register-button {
    margin-top: 10%;
    border-radius: 10;
    background-color: #EBA40F;
    border-left-width: 5;
    border-bottom-width: 5;
    border-color: #e39f0f;
    color: #000000;
    text: Registrarme;
    height: 8%;
    width: 50%;
    font-family: "Montserrat", "Montserrat-Regular";
    align-items: center;
    justify-content: space-around;
    font-size: 20vw;
}

.main-layout-login {
    align-content: space-around;
}

.login-icon {
    tint-color: #EBA40F;
}

.login-page {
    padding: 30;
    action-bar-hidden: true;
}

.titleLabel {
    horizontal-align: center;
    text-wrap: true;
    vertical-alignment: middle;
}

