.register-button {
    margin-top: 10%;
    border-radius: 10;
    background-color: #EBA40F;
    color: #000000;
    text: Registrarme;
    height: 8%;
    width: 50%;
    font-family: "Montserrat", "Montserrat-Regular";
    align-items: center;
    justify-content: space-around;
    font-size: 20vw;
}

.main-layout-login {
    align-content: space-around;
}

.login-icon {
    tint-color: #EBA40F;
}

.login-page {
    padding: 30;
    action-bar-hidden: true;
    background-color: #748E1F;
}

.titleLabel {
    horizontal-align: center;
    text-wrap: true;
    vertical-alignment: middle;
}

