.category-button {
    width: 140;
    border-radius: 10;
    background-color: #f1f1f1;
    border-color: #eaeaea;
    border-left-width: 3.5;
    border-bottom-width: 3.5;
    color: #84A86A;
    font-family: "Montserrat", "Montserrat-Regular";
    font-size: 17;
    font-weight: 600;
}

.category-buttons-stack {
    margin-right: 10;
    margin-left: 10;
    horizontal-align: center;
    vertical-align: center;
    orientation: horizontal;
    margin-bottom: 10;
}
