.category-button {
    width: 140;
    border-radius: 15;
    color: #000000;
    border-width: 3;
    font-family: "Montserrat", "Montserrat-Regular";
    background-color: #EBA40F;
    font-size: 17;
}

.category-buttons-stack {
    margin-right: 10;
    margin-left: 10;
    horizontal-align: center;
    vertical-align: center;
    orientation: horizontal;
    margin-bottom: 10;
}
